In [1]:
import pandas as pd
import ir_datasets
dataset = ir_datasets.load("car/v1.5/train/fold0")

In [2]:
import pandas as pd
query_ids = []
queries = []
for query in dataset.queries_iter():
    query_ids.append(query[0])
    queries.append(query[1] + " " + query[2] + " " + str(query[3]))
df1 = pd.DataFrame()
df1["qid"] = query_ids
df1["query"] = queries
df1
#     print(query[0]) # namedtuple<query_id, title, description, narrative>

,qid,query
0,Kindertotenlieder/Text%20and%20music,Kindertotenlieder Text and music Kindertotenli...
1,Kindertotenlieder/Composition%20and%20premiere,Kindertotenlieder Composition and premiere Kin...
2,Kindertotenlieder/Scoring%20and%20performance,Kindertotenlieder Scoring and performance Kind...
3,Kindertotenlieder/The%20''Kindertotenlieder''%...,Kindertotenlieder The ''Kindertotenlieder'' an...
4,Civilisation%20(TV%20series)/Production,Civilisation (TV series) Production Civilisati...
...,...,...
467941,"Papal%20election,%201130/The%20schism","Papal election, 1130 The schism Papal election..."
467942,1987%E2%80%9388%20Greek%20Cup/Tournament%20det...,1987–88 Greek Cup Tournament details 1987–88 G...
467943,1987%E2%80%9388%20Greek%20Cup/Quarter-finals,1987–88 Greek Cup Quarter-finals 1987–88 Greek...
467944,1987%E2%80%9388%20Greek%20Cup/Semi-finals,1987–88 Greek Cup Semi-finals 1987–88 Greek Cu...
467945,1987%E2%80%9388%20Greek%20Cup/Final,1987–88 Greek Cup Final 1987–88 Greek Cup ('Fi...

In [3]:
doc_ids = []
docs = []
for doc in dataset.docs_iter():
    doc_ids.append(doc[0])
    docs.append(doc[1])
df2 = pd.DataFrame()
df2["docid"] = doc_ids
df2["document"] = docs
df2

,docid,document
0,0000000e7e72cafb61a9f356b7dceb25c5e028db,Ukraine was one of the most dangerous places f...
1,0000005eafb11cbd7e9780161f9f0a0a6fd897cd,'''October 4''' Missouri opened its season wi...
2,000000afe1da525b3db17db77f350b187441a9ed,The 1913 Johannisthal Air Disaster happened cl...
3,0000014f07ec8c3f6dc130d21cddc42da950068a,Stéphane Houdet successfully defended the titl...
4,000001ae0be1235060c10e6edc99f7791e86a04c,Ayscough was murdered on 29 June 1450 by an an...
...,...,...
29678362,fffffeab93187feb27bc0db02d407a11033c095b,"Pedraforca is, along with the mountains of Mon..."
29678363,fffffec0ade759e625ee8655f6298aaab4d6176c,"The XF10F-1 was not armed, but production airc..."
29678364,fffffecedffefa14c7214c99538b88e6d66206c5,Riots took place through 1626-28. In December ...
29678365,ffffff8ae474e683d89a64602921289302198819,The rider must also understand that the muscli...
29678366,ffffffb9eec6224bef5da06e829eef59a37748c6,"Fisher recommended Louis as First Sea Lord: ""H..."

In [4]:
qrels_query_ids = []
qrels_doc_ids = []
qrels_relevance = []
for qrel in dataset.qrels_iter():
    qrels_query_ids.append(qrel[0])
    qrels_doc_ids.append(qrel[1])
    qrels_relevance.append(qrel[2])
    
df3 = pd.DataFrame()
df3["qid"] = qrels_query_ids
df3["docid"] = qrels_doc_ids
df3["relevance"] = qrels_relevance
df3

,qid,docid,relevance
0,$pread/''$pread''%20Book,2f545ffad1581dea4a2e4720aa9feb7389e1956a,1
1,$pread/Criticism,6ef2518ee640495ab28fea0772320c66c0b71454,1
2,$pread/History,1ee0e5add8fcbc0e18df933f918f8feaf083f469,1
3,$pread/History,22b6f445624904c9e7ef07272d76bdb769fdc63e,1
4,$pread/History,9a7ab4fcc93e42ccf598fa7b3dea0b86fc4beeab,1
...,...,...,...
1054364,Zygmunt%20Szcz%C4%99sny%20Feli%C5%84ski/Views%...,4c0066c2889a6704e6ff9c23f5d71e8abef35858,1
1054365,Zygmunt%20Szcz%C4%99sny%20Feli%C5%84ski/Views%...,59112126af8a1faaa39e4f7ce5adcad5d2c4c4c5,1
1054366,Zygmunt%20Szcz%C4%99sny%20Feli%C5%84ski/Views%...,5b2f8a692bb697117e8255154b273d5e64f0bf91,1
1054367,Zygmunt%20Szcz%C4%99sny%20Feli%C5%84ski/Views%...,6eb4767dde231bb842eebf7d35236257fc46769e,1
1054368,Zygmunt%20Szcz%C4%99sny%20Feli%C5%84ski/Views%...,fd77154f625ca721e554cbd0e4f33b51d4d92af6,1

In [5]:
df3[df3["relevance"]==1]

,qid,docid,relevance
0,$pread/''$pread''%20Book,2f545ffad1581dea4a2e4720aa9feb7389e1956a,1
1,$pread/Criticism,6ef2518ee640495ab28fea0772320c66c0b71454,1
2,$pread/History,1ee0e5add8fcbc0e18df933f918f8feaf083f469,1
3,$pread/History,22b6f445624904c9e7ef07272d76bdb769fdc63e,1
4,$pread/History,9a7ab4fcc93e42ccf598fa7b3dea0b86fc4beeab,1
...,...,...,...
1054364,Zygmunt%20Szcz%C4%99sny%20Feli%C5%84ski/Views%...,4c0066c2889a6704e6ff9c23f5d71e8abef35858,1
1054365,Zygmunt%20Szcz%C4%99sny%20Feli%C5%84ski/Views%...,59112126af8a1faaa39e4f7ce5adcad5d2c4c4c5,1
1054366,Zygmunt%20Szcz%C4%99sny%20Feli%C5%84ski/Views%...,5b2f8a692bb697117e8255154b273d5e64f0bf91,1
1054367,Zygmunt%20Szcz%C4%99sny%20Feli%C5%84ski/Views%...,6eb4767dde231bb842eebf7d35236257fc46769e,1
1054368,Zygmunt%20Szcz%C4%99sny%20Feli%C5%84ski/Views%...,fd77154f625ca721e554cbd0e4f33b51d4d92af6,1

In [6]:
df1.to_csv("df1.csv")
df2.to_csv("df2.csv")
df3.to_csv("df3.csv")

In [ ]:
# combo1 = itertools.product(qrels_query_ids, qrels_doc_ids)

In [ ]:
# combo2 = list(zip(qrels_query_ids, qrels_doc_ids))

In [ ]:
# for element in combo1:
#     if combo1 in combo2:
#         combo1.remove(element)

In [ ]:
# irrelevant_df = pd.DataFrame(combo1, columns =['qid', 'docid_irrelevant'])
# relevant_df = pd.DataFrame(combo2, columns =['qid', 'docid_relevant'])

In [2]:
import pandas as pd
qrels = pd.read_csv("df3.csv")
qrels

,Unnamed: 0,qid,docid,relevance
0,0,$pread/''$pread''%20Book,2f545ffad1581dea4a2e4720aa9feb7389e1956a,1
1,1,$pread/Criticism,6ef2518ee640495ab28fea0772320c66c0b71454,1
2,2,$pread/History,1ee0e5add8fcbc0e18df933f918f8feaf083f469,1
3,3,$pread/History,22b6f445624904c9e7ef07272d76bdb769fdc63e,1
4,4,$pread/History,9a7ab4fcc93e42ccf598fa7b3dea0b86fc4beeab,1
...,...,...,...,...
1054364,1054364,Zygmunt%20Szcz%C4%99sny%20Feli%C5%84ski/Views%...,4c0066c2889a6704e6ff9c23f5d71e8abef35858,1
1054365,1054365,Zygmunt%20Szcz%C4%99sny%20Feli%C5%84ski/Views%...,59112126af8a1faaa39e4f7ce5adcad5d2c4c4c5,1
1054366,1054366,Zygmunt%20Szcz%C4%99sny%20Feli%C5%84ski/Views%...,5b2f8a692bb697117e8255154b273d5e64f0bf91,1
1054367,1054367,Zygmunt%20Szcz%C4%99sny%20Feli%C5%84ski/Views%...,6eb4767dde231bb842eebf7d35236257fc46769e,1
1054368,1054368,Zygmunt%20Szcz%C4%99sny%20Feli%C5%84ski/Views%...,fd77154f625ca721e554cbd0e4f33b51d4d92af6,1

In [ ]:
.sample(n=2)

In [11]:
qrels = qrels[qrels["qid"].apply(len) < 30]

In [ ]:
import itertools
combo1 = list(itertools.product(qrels["qid"], qrels["docid"]))
# combo1

In [32]:
combo2 = list(zip(qrels["qid"].values[0:10], qrels["docid"].values[0:10]))
# combo2

[("$pread/''$pread''%20Book", '2f545ffad1581dea4a2e4720aa9feb7389e1956a'),
 ('$pread/Criticism', '6ef2518ee640495ab28fea0772320c66c0b71454'),
 ('$pread/History', '1ee0e5add8fcbc0e18df933f918f8feaf083f469'),
 ('$pread/History', '22b6f445624904c9e7ef07272d76bdb769fdc63e'),
 ('$pread/History', '9a7ab4fcc93e42ccf598fa7b3dea0b86fc4beeab'),
 ('$pread/History', 'fe0f4715468dbece6d056e6ce310167a7693fbd4'),
 ('$pread/Mary%20Christmas', '32cf65234bc6c9b1886e4bdaa7129b4adbb6e84b'),
 ('%22Wild%20Bill%22%20Hickok/Death',
  '9a72404c10fcaf7303c089d79c539b2f3deb4afd'),
 ('%22Wild%20Bill%22%20Hickok/Death',
  'd2d73b94cd6d8758ea1b15416c29a4a2c01ae09d'),
 ('%22Wild%20Bill%22%20Hickok/Death/Burial',
  '528b68a3355672c9b8bd5003428b72f54074b3fb')]

In [33]:
print(len(combo1), len(combo2))

100 10

In [34]:
for element in combo1:
    if element in combo2:
        combo1.remove(element)
len(combo1)

86

In [36]:
# irrelevant_df = pd.DataFrame(combo1)
# data1.rename({0: 'qid', 1: 'query'}, axis=1, inplace=True)
irrelevant_df = pd.DataFrame(combo1, columns =['qid', 'docid'])
relevant_df = pd.DataFrame(combo2, columns =['qid', 'docid'])

In [37]:
irrelevant_df

,qid,docid
0,$pread/''$pread''%20Book,6ef2518ee640495ab28fea0772320c66c0b71454
1,$pread/''$pread''%20Book,1ee0e5add8fcbc0e18df933f918f8feaf083f469
2,$pread/''$pread''%20Book,22b6f445624904c9e7ef07272d76bdb769fdc63e
3,$pread/''$pread''%20Book,9a7ab4fcc93e42ccf598fa7b3dea0b86fc4beeab
4,$pread/''$pread''%20Book,fe0f4715468dbece6d056e6ce310167a7693fbd4
...,...,...
81,%22Wild%20Bill%22%20Hickok/Death/Burial,9a7ab4fcc93e42ccf598fa7b3dea0b86fc4beeab
82,%22Wild%20Bill%22%20Hickok/Death/Burial,fe0f4715468dbece6d056e6ce310167a7693fbd4
83,%22Wild%20Bill%22%20Hickok/Death/Burial,32cf65234bc6c9b1886e4bdaa7129b4adbb6e84b
84,%22Wild%20Bill%22%20Hickok/Death/Burial,9a72404c10fcaf7303c089d79c539b2f3deb4afd
85,%22Wild%20Bill%22%20Hickok/Death/Burial,d2d73b94cd6d8758ea1b15416c29a4a2c01ae09d

In [38]:
queries = pd.read_csv("df1.csv")
queries

,Unnamed: 0,qid,query
0,0,Kindertotenlieder/Text%20and%20music,Kindertotenlieder Text and music Kindertotenli...
1,1,Kindertotenlieder/Composition%20and%20premiere,Kindertotenlieder Composition and premiere Kin...
2,2,Kindertotenlieder/Scoring%20and%20performance,Kindertotenlieder Scoring and performance Kind...
3,3,Kindertotenlieder/The%20''Kindertotenlieder''%...,Kindertotenlieder The ''Kindertotenlieder'' an...
4,4,Civilisation%20(TV%20series)/Production,Civilisation (TV series) Production Civilisati...
...,...,...,...
467941,467941,"Papal%20election,%201130/The%20schism","Papal election, 1130 The schism Papal election..."
467942,467942,1987%E2%80%9388%20Greek%20Cup/Tournament%20det...,1987–88 Greek Cup Tournament details 1987–88 G...
467943,467943,1987%E2%80%9388%20Greek%20Cup/Quarter-finals,1987–88 Greek Cup Quarter-finals 1987–88 Greek...
467944,467944,1987%E2%80%9388%20Greek%20Cup/Semi-finals,1987–88 Greek Cup Semi-finals 1987–88 Greek Cu...
467945,467945,1987%E2%80%9388%20Greek%20Cup/Final,1987–88 Greek Cup Final 1987–88 Greek Cup ('Fi...

In [ ]:
# # get eval
# temp = pd.merge(df1, df3, on='qid')
# df_final = pd.merge(temp, df2, on='docid')
# df_final1 = df_final[["qid","docid","query","document"]]
# df_final1.to_csv('vaswani.eval.tsv', header=None, index=None, sep='\t', mode='a')