In [1]:
import pandas as pd

In [1]:
!pip install git+https://github.com/seanmacavaney/irds_robust_anserini.git

Collecting git+https://github.com/seanmacavaney/irds_robust_anserini.git
  Cloning https://github.com/seanmacavaney/irds_robust_anserini.git to c:\users\qhuca\appdata\local\temp\pip-req-build-c15_y_eh
Requirement already satisfied: ir_datasets>=0.3.2 in c:\users\qhuca\anaconda3\lib\site-packages (from irds-robust-anserini==0.0.0) (0.4.3)
Requirement already satisfied: trec-car-tools>=2.5.4 in c:\users\qhuca\anaconda3\lib\site-packages (from ir_datasets>=0.3.2->irds-robust-anserini==0.0.0) (2.5.4)
Requirement already satisfied: tqdm>=4.38.0 in c:\users\qhuca\anaconda3\lib\site-packages (from ir_datasets>=0.3.2->irds-robust-anserini==0.0.0) (4.50.2)
Requirement already satisfied: requests>=2.22.0 in c:\users\qhuca\anaconda3\lib\site-packages (from ir_datasets>=0.3.2->irds-robust-anserini==0.0.0) (2.25.1)
Requirement already satisfied: lz4>=3.1.1 in c:\users\qhuca\anaconda3\lib\site-packages (from ir_datasets>=0.3.2->irds-robust-anserini==0.0.0) (3.1.3)
Requirement already satisfied: beautifulsoup4>=4.4.1 in c:\users\qhuca\anaconda3\lib\site-packages (from ir_datasets>=0.3.2->irds-robust-anserini==0.0.0) (4.9.3)
Requirement already satisfied: numpy>=1.18.1 in c:\users\qhuca\anaconda3\lib\site-packages (from ir_datasets>=0.3.2->irds-robust-anserini==0.0.0) (1.19.5)
Requirement already satisfied: warc3-wet>=0.2.3 in c:\users\qhuca\anaconda3\lib\site-packages (from ir_datasets>=0.3.2->irds-robust-anserini==0.0.0) (0.2.3)
Requirement already satisfied: pyyaml>=5.3.1 in c:\users\qhuca\anaconda3\lib\site-packages (from ir_datasets>=0.3.2->irds-robust-anserini==0.0.0) (5.3.1)
Requirement already satisfied: lxml>=4.5.2 in c:\users\qhuca\anaconda3\lib\site-packages (from ir_datasets>=0.3.2->irds-robust-anserini==0.0.0) (4.6.1)
Requirement already satisfied: ijson>=3.1.3 in c:\users\qhuca\anaconda3\lib\site-packages (from ir_datasets>=0.3.2->irds-robust-anserini==0.0.0) (3.1.4)
Requirement already satisfied: zlib-state>=0.1.3 in c:\users\qhuca\anaconda3\lib\site-packages (from ir_datasets>=0.3.2->irds-robust-anserini==0.0.0) (0.1.3)
Requirement already satisfied: pyautocorpus>=0.1.1 in c:\users\qhuca\anaconda3\lib\site-packages (from ir_datasets>=0.3.2->irds-robust-anserini==0.0.0) (0.1.6)
Requirement already satisfied: warc3-wet-clueweb09>=0.2.5 in c:\users\qhuca\anaconda3\lib\site-packages (from ir_datasets>=0.3.2->irds-robust-anserini==0.0.0) (0.2.5)
Requirement already satisfied: cbor>=1.0.0 in c:\users\qhuca\anaconda3\lib\site-packages (from trec-car-tools>=2.5.4->ir_datasets>=0.3.2->irds-robust-anserini==0.0.0) (1.0.0)
Requirement already satisfied: idna<3,>=2.5 in c:\users\qhuca\anaconda3\lib\site-packages (from requests>=2.22.0->ir_datasets>=0.3.2->irds-robust-anserini==0.0.0) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\qhuca\anaconda3\lib\site-packages (from requests>=2.22.0->ir_datasets>=0.3.2->irds-robust-anserini==0.0.0) (1.26.6)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\users\qhuca\anaconda3\lib\site-packages (from requests>=2.22.0->ir_datasets>=0.3.2->irds-robust-anserini==0.0.0) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\qhuca\anaconda3\lib\site-packages (from requests>=2.22.0->ir_datasets>=0.3.2->irds-robust-anserini==0.0.0) (2020.6.20)
Requirement already satisfied: soupsieve>1.2; python_version >= "3.0" in c:\users\qhuca\anaconda3\lib\site-packages (from beautifulsoup4>=4.4.1->ir_datasets>=0.3.2->irds-robust-anserini==0.0.0) (2.0.1)
Building wheels for collected packages: irds-robust-anserini
  Building wheel for irds-robust-anserini (setup.py): started
  Building wheel for irds-robust-anserini (setup.py): finished with status 'done'
  Created wheel for irds-robust-anserini: filename=irds_robust_anserini-0.0.0-py3-none-any.whl size=4787 sha256=fe7a3a324e2577b3b977f1da867405341d9d77e881657c6ce579bb0cdb4f29ae
  Stored in directory: C:\Users\qhuca\AppData\Local\Temp\pip-ephem-wheel-cache-ul0wjys4\wheels\10\64\6a\1b794bca1e4150ebb4e371b003070f5fd928beae14c9fd6447
Successfully built irds-robust-anserini
Installing collected packages: irds-robust-anserini
Successfully installed irds-robust-anserini-0.0.0

In [69]:
import ir_datasets
import irds_robust_anserini

dataset = ir_datasets.load('macavaney:anserini-trec-robust04')

In [70]:
import pandas as pd
query_ids = []
queries = []
for query in dataset.queries_iter():
    query_ids.append(query[0])
    queries.append(query[1]+" "+query[2])
df1 = pd.DataFrame()
df1["qid"] = query_ids
df1["query"] = queries
df1
#     print(query[0]) # namedtuple<query_id, title, description, narrative>

     qid                                              query
0    301  International Organized Crime Identify organiz...
1    302  Poliomyelitis and Post-Polio Is the disease of...
2    303  Hubble Telescope Achievements Identify positiv...
3    304  Endangered Species (Mammals) Compile a list of...
4    305  Most Dangerous Vehicles Which are the most cra...
..   ...                                                ...
245  696  safety plastic surgery Find documents that dis...
246  697  air traffic controller What are working condit...
247  698  literacy rates Africa What are literacy rates ...
248  699  term limits What are the pros and cons of term...
249  700  gasoline tax U.S. What are the arguments for a...

[250 rows x 2 columns]

In [71]:
df2 = pd.read_csv("data.csv")
df2 = data1[["docid","document"]]
df2

                docid                                           document
0       LA101590-0001  \n\n\nOctober 15, 1990, Monday, Home Edition\n...
1       LA051990-0002  \n\n\nMay 19, 1990, Saturday, Home Edition\n\n...
2       LA092890-0002  \n\n\nSeptember 28, 1990, Friday, Home Edition...
3       LA051990-0003  \n\n\nMay 19, 1990, Saturday, Home Edition\n\n...
4       LA102990-0002  \n\n\nOctober 29, 1990, Monday, Home Edition\n...
...               ...                                                ...
528025     FT911-3138  \n910426\n\n\nFT  26 APR 91 / IMF/World Bank W...
528026     FT911-5288  \n910415\n\n\nFT  15 APR 91 / World News in Br...
528027     FT911-5289  \n910415\n\n\nFT  15 APR 91 / World News in Br...
528028     FT911-5290  \n910415\n\n\nFT  15 APR 91 / World News in Br...
528029     FT911-2036  \n910502\n\n\nFT  02 MAY 91 / Arts: Josef Suk ...

[528030 rows x 2 columns]

In [72]:
qrels_query_ids = []
qrels_doc_ids = []
qrels_relevance = []
for qrel in dataset.qrels_iter():
    qrels_query_ids.append(qrel[0])
    qrels_doc_ids.append(qrel[1])
    qrels_relevance.append(qrel[2])
    
df3 = pd.DataFrame()
df3["qid"] = qrels_query_ids
df3["docid"] = qrels_doc_ids
df3["relevance"] = qrels_relevance
df3

        qid          docid  relevance
0       301    FBIS3-10082          1
1       301    FBIS3-10169          0
2       301    FBIS3-10243          1
3       301    FBIS3-10319          0
4       301    FBIS3-10397          1
...     ...            ...        ...
311405  700  LA122690-0089          0
311406  700  LA122789-0005          0
311407  700  LA122889-0096          0
311408  700  LA122990-0108          0
311409  700  LA123090-0137          0

[311410 rows x 3 columns]

In [73]:
df_qrels = df3.copy()
df_qrels['dummy'] = 0
df_qrels[["qid","dummy","docid","relevance"]].to_csv('robust04_qrels.tsv', header=None, index=None, sep='\t', mode='a')

In [14]:
df3[df3["relevance"]==1]

        qid          docid  relevance
0       301    FBIS3-10082          1
2       301    FBIS3-10243          1
4       301    FBIS3-10397          1
5       301    FBIS3-10491          1
7       301    FBIS3-10622          1
...     ...            ...        ...
311390  700  LA120290-0220          1
311392  700  LA120490-0047          1
311393  700  LA120490-0109          1
311399  700  LA121789-0120          1
311401  700  LA121990-0122          1

[16381 rows x 3 columns]

In [74]:
df3_new = df3[["qid","docid"]]
df3_new

        qid          docid
0       301    FBIS3-10082
1       301    FBIS3-10169
2       301    FBIS3-10243
3       301    FBIS3-10319
4       301    FBIS3-10397
...     ...            ...
311405  700  LA122690-0089
311406  700  LA122789-0005
311407  700  LA122889-0096
311408  700  LA122990-0108
311409  700  LA123090-0137

[311410 rows x 2 columns]

In [75]:
temp = pd.merge(df1, df3_new, on='qid')
temp

        qid                                              query          docid
0       301  International Organized Crime Identify organiz...    FBIS3-10082
1       301  International Organized Crime Identify organiz...    FBIS3-10169
2       301  International Organized Crime Identify organiz...    FBIS3-10243
3       301  International Organized Crime Identify organiz...    FBIS3-10319
4       301  International Organized Crime Identify organiz...    FBIS3-10397
...     ...                                                ...            ...
311405  700  gasoline tax U.S. What are the arguments for a...  LA122690-0089
311406  700  gasoline tax U.S. What are the arguments for a...  LA122789-0005
311407  700  gasoline tax U.S. What are the arguments for a...  LA122889-0096
311408  700  gasoline tax U.S. What are the arguments for a...  LA122990-0108
311409  700  gasoline tax U.S. What are the arguments for a...  LA123090-0137

[311410 rows x 3 columns]

In [76]:
df_final = pd.merge(temp, df2, on='docid')
df_final

,qid,query,docid,document
0,301,International Organized Crime Identify organiz...,FBIS3-10082,\n\nLanguage: Spanish \nArticle Type:BFN\n\n[...
1,360,drug legalization benefits What are the benefi...,FBIS3-10082,\n\nLanguage: Spanish \nArticle Type:BFN\n\n[...
2,301,International Organized Crime Identify organiz...,FBIS3-10169,\n\nLanguage: Spanish \nArticle Type:BFN\n\n ...
3,349,Metabolism Document will discuss the chemical ...,FBIS3-10169,\n\nLanguage: Spanish \nArticle Type:BFN\n\n ...
4,357,territorial waters dispute Identify documents ...,FBIS3-10169,\n\nLanguage: Spanish \nArticle Type:BFN\n\n ...
...,...,...,...,...
311405,700,gasoline tax U.S. What are the arguments for a...,LA121490-0082,"\n\n\nDecember 14, 1990, Friday, Home Edition\..."
311406,700,gasoline tax U.S. What are the arguments for a...,LA121789-0120,"\n\n\nDecember 17, 1989, Sunday, Orange County..."
311407,700,gasoline tax U.S. What are the arguments for a...,LA121990-0122,"\n\n\nDecember 19, 1990, Wednesday, Home Editi..."
311408,700,gasoline tax U.S. What are the arguments for a...,LA122189-0128,"\n\n\nDecember 21, 1989, Thursday, Home Editio..."
311409,700,gasoline tax U.S. What are the arguments for a...,LA122889-0096,"\n\n\nDecember 28, 1989, Thursday, Home Editio..."

In [77]:
df_final1 = df_final[["qid","docid","query","document"]]
df_final1

,qid,docid,query,document
0,301,FBIS3-10082,International Organized Crime Identify organiz...,\n\nLanguage: Spanish \nArticle Type:BFN\n\n[...
1,360,FBIS3-10082,drug legalization benefits What are the benefi...,\n\nLanguage: Spanish \nArticle Type:BFN\n\n[...
2,301,FBIS3-10169,International Organized Crime Identify organiz...,\n\nLanguage: Spanish \nArticle Type:BFN\n\n ...
3,349,FBIS3-10169,Metabolism Document will discuss the chemical ...,\n\nLanguage: Spanish \nArticle Type:BFN\n\n ...
4,357,FBIS3-10169,territorial waters dispute Identify documents ...,\n\nLanguage: Spanish \nArticle Type:BFN\n\n ...
...,...,...,...,...
311405,700,LA121490-0082,gasoline tax U.S. What are the arguments for a...,"\n\n\nDecember 14, 1990, Friday, Home Edition\..."
311406,700,LA121789-0120,gasoline tax U.S. What are the arguments for a...,"\n\n\nDecember 17, 1989, Sunday, Orange County..."
311407,700,LA121990-0122,gasoline tax U.S. What are the arguments for a...,"\n\n\nDecember 19, 1990, Wednesday, Home Editi..."
311408,700,LA122189-0128,gasoline tax U.S. What are the arguments for a...,"\n\n\nDecember 21, 1989, Thursday, Home Editio..."
311409,700,LA122889-0096,gasoline tax U.S. What are the arguments for a...,"\n\n\nDecember 28, 1989, Thursday, Home Editio..."

In [78]:
df_final1.to_csv('robustness04.eval.tsv', header=None, index=None, sep='\t', mode='a')

In [ ]:
# import ir_datasets
# dataset = ir_datasets.load("trec-robust04")
# for qrel in dataset.qrels_iter():
#     qrel # namedtuple<query_id, doc_id, relevance, iteration>
# import ir_datasets
# dataset = ir_datasets.load("trec-robust04")
# for query in dataset.queries_iter():
#     print(query[0]) # namedtuple<query_id, title, description, narrative>

In [1]:
# data = pd.read_txt("robust04_doc.txt")
# data

In [51]:
# a = list(range(0,1249))

In [64]:
# interval = a[::5]
# docid = [x for x in interval]
# description = [x+2 for x in interval]
# title = [x+1 for x in interval]

# doc_ids = []
# descriptions = []
# titles = []
# for x in docid:
#     doc_ids.append(m[x])
# for x in description:
#     descriptions.append(m[x])
# for x in title:
#     titles.append(m[x])
    
# df = pd.DataFrame()
# df["docid"] = doc_ids
# df["description"] = descriptions
# df["title"] = titles
# df["document"] = df["title"].astype(str) + " " + df["description"].astype(str)
# df

,docid,description,title,document
0,<num> Number: 301,Description: Identify organizations that part...,International Organized Crime,International Organized Crime Description: ...
1,Number: 302,Description: Is the disease of Poliomyelitis ...,Poliomyelitis and Post-Polio,Poliomyelitis and Post-Polio Description: I...
2,Number: 303,Description: Identify positive accomplishment...,Hubble Telescope Achievements,Hubble Telescope Achievements Description: ...
3,Number: 304,Description: Compile a list of mammals that a...,Endangered Species (Mammals),Endangered Species (Mammals) Description: C...
4,Number: 305,"Description: Which are the most crashworthy, ...",Most Dangerous Vehicles,Most Dangerous Vehicles Description: Which ...
...,...,...,...,...
245,Number: 696,Find documents that discuss the safety of or t...,safety plastic surgery,safety plastic surgery Find documents that dis...
246,Number: 697,What are working conditions and pay for U.S. a...,air traffic controller,air traffic controller What are working condit...
247,Number: 698,What are literacy rates in African countries?,literacy rates Africa,literacy rates Africa What are literacy rates ...
248,Number: 699,What are the pros and cons of term limits?,term limits,term limits What are the pros and cons of ter...
249,Number: 700,What are the arguments for and against an incr...,gasoline tax U.S.,gasoline tax U.S. What are the arguments for a...

In [71]:
# df["docid"] = df["docid"].str.extract('(\d+)')
# docs = df[["docid", "document"]]
# docs

    docid                                           document
0     301   International Organized Crime   Description: ...
1     302   Poliomyelitis and Post-Polio   Description: I...
2     303   Hubble Telescope Achievements   Description: ...
3     304   Endangered Species (Mammals)   Description: C...
4     305   Most Dangerous Vehicles   Description: Which ...
..    ...                                                ...
245   696  safety plastic surgery Find documents that dis...
246   697  air traffic controller What are working condit...
247   698  literacy rates Africa What are literacy rates ...
248   699  term limits  What are the pros and cons of ter...
249   700  gasoline tax U.S. What are the arguments for a...

[250 rows x 2 columns]

In [ ]:
# import ir_datasets
# dataset = ir_datasets.load("trec-robust04")

# queries_id = []
# queries = []
# for query in dataset.queries_iter():
#     print(query[]

In [2]:
qrels = pd.read_csv("robust04_qrels.tsv", sep='\t', header=None)
qrels

          0  1              2  3
0       301  0    FBIS3-10082  1
1       301  0    FBIS3-10169  0
2       301  0    FBIS3-10243  1
3       301  0    FBIS3-10319  0
4       301  0    FBIS3-10397  1
...     ... ..            ... ..
622815  700  0  LA122690-0089  0
622816  700  0  LA122789-0005  0
622817  700  0  LA122889-0096  0
622818  700  0  LA122990-0108  0
622819  700  0  LA123090-0137  0

[622820 rows x 4 columns]

In [68]:
qrels[qrels[3]==1].to_csv('robust04_qrels7.tsv', header=None, index=None, sep='\t', mode='a')

In [61]:
qrels[qrels[2].str.contains("10082")]

          0  1            2  3
0       301  0  FBIS3-10082  1
76040   360  0  FBIS3-10082  0
137150  397  0  FT942-10082  0

In [49]:
qrels[2] = qrels[2].str.replace(r"[a-zA-Z]",'')
qrels[2] = qrels[2].str.replace(r"-",'')
qrels

<ipython-input-49-d8bbf41bba83>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  qrels[2] = qrels[2].str.replace(r"[a-zA-Z]",'')

          0  1           2  3
0       301  0      310082  1
1       301  0      310169  0
2       301  0      310243  1
3       301  0      310319  0
4       301  0      310397  1
...     ... ..         ... ..
311405  700  0  1226900089  0
311406  700  0  1227890005  0
311407  700  0  1228890096  0
311408  700  0  1229900108  0
311409  700  0  1230900137  0

[311410 rows x 4 columns]

In [51]:
qrels = qrels[qrels[3]==1]

In [52]:
qrels.to_csv('robust04_qrels4.tsv', header=None, index=None, sep='\t', mode='a')

In [79]:
evaluation = pd.read_csv("robustness04.eval.tsv", sep='\t', header=None)
evaluation

,0,1,2,3
0,301,FBIS3-10082,International Organized Crime Identify organiz...,\n\nLanguage: Spanish \nArticle Type:BFN\n\n[...
1,360,FBIS3-10082,drug legalization benefits What are the benefi...,\n\nLanguage: Spanish \nArticle Type:BFN\n\n[...
2,301,FBIS3-10169,International Organized Crime Identify organiz...,\n\nLanguage: Spanish \nArticle Type:BFN\n\n ...
3,349,FBIS3-10169,Metabolism Document will discuss the chemical ...,\n\nLanguage: Spanish \nArticle Type:BFN\n\n ...
4,357,FBIS3-10169,territorial waters dispute Identify documents ...,\n\nLanguage: Spanish \nArticle Type:BFN\n\n ...
...,...,...,...,...
311405,700,LA121490-0082,gasoline tax U.S. What are the arguments for a...,"\n\n\nDecember 14, 1990, Friday, Home Edition\..."
311406,700,LA121789-0120,gasoline tax U.S. What are the arguments for a...,"\n\n\nDecember 17, 1989, Sunday, Orange County..."
311407,700,LA121990-0122,gasoline tax U.S. What are the arguments for a...,"\n\n\nDecember 19, 1990, Wednesday, Home Editi..."
311408,700,LA122189-0128,gasoline tax U.S. What are the arguments for a...,"\n\n\nDecember 21, 1989, Thursday, Home Editio..."
311409,700,LA122889-0096,gasoline tax U.S. What are the arguments for a...,"\n\n\nDecember 28, 1989, Thursday, Home Editio..."

In [44]:
evaluation[1] = evaluation[1].str.replace(r"[a-zA-Z]",'')
evaluation[1] = evaluation[1].str.replace(r"-",'')
evaluation

<ipython-input-44-1a8cc98a5cb6>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  evaluation[1] = evaluation[1].str.replace(r"[a-zA-Z]",'')

,0,1,2,3
0,301,310082,International Organized Crime Identify organiz...,\n\nLanguage: Spanish \nArticle Type:BFN\n\n[...
1,301,310243,International Organized Crime Identify organiz...,\n\nLanguage: Spanish \nArticle Type:BFN\n\n ...
2,301,310397,International Organized Crime Identify organiz...,\n\nLanguage: Spanish \nArticle Type:BFN\n\n[...
3,301,310491,International Organized Crime Identify organiz...,\n\nLanguage: Spanish \nArticle Type:CSO\n\n ...
4,301,310622,International Organized Crime Identify organiz...,\n\nLanguage: Portuguese \nArticle Type:BFN\n...
...,...,...,...,...
16376,700,1202900220,gasoline tax U.S. What are the arguments for a...,"\n\n\nDecember 2, 1990, Sunday, Orange County ..."
16377,700,1204900047,gasoline tax U.S. What are the arguments for a...,"\n\n\nDecember 4, 1990, Tuesday, Orange County..."
16378,700,1204900109,gasoline tax U.S. What are the arguments for a...,"\n\n\nDecember 4, 1990, Tuesday, Home Edition\..."
16379,700,1217890120,gasoline tax U.S. What are the arguments for a...,"\n\n\nDecember 17, 1989, Sunday, Orange County..."
16380,700,1219900122,gasoline tax U.S. What are the arguments for a...,"\n\n\nDecember 19, 1990, Wednesday, Home Editi..."

In [38]:
evaluation.to_csv('robustness04.eval2.tsv', header=None, index=None, sep='\t', mode='a')

In [45]:
# parse /n
evaluation = pd.read_csv("robustness04.eval2.tsv", sep='\t', header=None)
evaluation

,0,1,2,3
0,301,310082,International Organized Crime Identify organiz...,\n\nLanguage: Spanish \nArticle Type:BFN\n\n[...
1,301,310243,International Organized Crime Identify organiz...,\n\nLanguage: Spanish \nArticle Type:BFN\n\n ...
2,301,310397,International Organized Crime Identify organiz...,\n\nLanguage: Spanish \nArticle Type:BFN\n\n[...
3,301,310491,International Organized Crime Identify organiz...,\n\nLanguage: Spanish \nArticle Type:CSO\n\n ...
4,301,310622,International Organized Crime Identify organiz...,\n\nLanguage: Portuguese \nArticle Type:BFN\n...
...,...,...,...,...
16376,700,1202900220,gasoline tax U.S. What are the arguments for a...,"\n\n\nDecember 2, 1990, Sunday, Orange County ..."
16377,700,1204900047,gasoline tax U.S. What are the arguments for a...,"\n\n\nDecember 4, 1990, Tuesday, Orange County..."
16378,700,1204900109,gasoline tax U.S. What are the arguments for a...,"\n\n\nDecember 4, 1990, Tuesday, Home Edition\..."
16379,700,1217890120,gasoline tax U.S. What are the arguments for a...,"\n\n\nDecember 17, 1989, Sunday, Orange County..."
16380,700,1219900122,gasoline tax U.S. What are the arguments for a...,"\n\n\nDecember 19, 1990, Wednesday, Home Editi..."

In [47]:
evaluation[2] = evaluation[2].str.replace(r"\n",' ')
evaluation[3] = evaluation[3].str.replace(r"\n",' ')
evaluation.to_csv('robustness04.eval3.tsv', header=None, index=None, sep='\t', mode='a')

<ipython-input-47-b312860d64d2>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  evaluation[2] = evaluation[2].str.replace(r"\n",' ')
<ipython-input-47-b312860d64d2>:2: FutureWarning: The default value of regex will change from True to False in a future version.
  evaluation[3] = evaluation[3].str.replace(r"\n",' ')

In [53]:
evaluation

,0,1,2,3
0,301,310082,International Organized Crime Identify organiz...,Language: Spanish Article Type:BFN [Text]...
1,301,310243,International Organized Crime Identify organiz...,Language: Spanish Article Type:BFN [From...
2,301,310397,International Organized Crime Identify organiz...,Language: Spanish Article Type:BFN [Text]...
3,301,310491,International Organized Crime Identify organiz...,Language: Spanish Article Type:CSO [Arti...
4,301,310622,International Organized Crime Identify organiz...,Language: Portuguese Article Type:BFN [Te...
...,...,...,...,...
16376,700,1202900220,gasoline tax U.S. What are the arguments for a...,"December 2, 1990, Sunday, Orange County Edi..."
16377,700,1204900047,gasoline tax U.S. What are the arguments for a...,"December 4, 1990, Tuesday, Orange County Ed..."
16378,700,1204900109,gasoline tax U.S. What are the arguments for a...,"December 4, 1990, Tuesday, Home Edition ..."
16379,700,1217890120,gasoline tax U.S. What are the arguments for a...,"December 17, 1989, Sunday, Orange County Ed..."
16380,700,1219900122,gasoline tax U.S. What are the arguments for a...,"December 19, 1990, Wednesday, Home Edition ..."

In [64]:
# parse /n
evaluation = pd.read_csv("robustness04.eval.tsv", sep='\t', header=None)
evaluation

,0,1,2,3
0,301,FBIS3-10082,International Organized Crime Identify organiz...,\n\nLanguage: Spanish \nArticle Type:BFN\n\n[...
1,301,FBIS3-10243,International Organized Crime Identify organiz...,\n\nLanguage: Spanish \nArticle Type:BFN\n\n ...
2,301,FBIS3-10397,International Organized Crime Identify organiz...,\n\nLanguage: Spanish \nArticle Type:BFN\n\n[...
3,301,FBIS3-10491,International Organized Crime Identify organiz...,\n\nLanguage: Spanish \nArticle Type:CSO\n\n ...
4,301,FBIS3-10622,International Organized Crime Identify organiz...,\n\nLanguage: Portuguese \nArticle Type:BFN\n...
...,...,...,...,...
16376,700,LA120290-0220,gasoline tax U.S. What are the arguments for a...,"\n\n\nDecember 2, 1990, Sunday, Orange County ..."
16377,700,LA120490-0047,gasoline tax U.S. What are the arguments for a...,"\n\n\nDecember 4, 1990, Tuesday, Orange County..."
16378,700,LA120490-0109,gasoline tax U.S. What are the arguments for a...,"\n\n\nDecember 4, 1990, Tuesday, Home Edition\..."
16379,700,LA121789-0120,gasoline tax U.S. What are the arguments for a...,"\n\n\nDecember 17, 1989, Sunday, Orange County..."
16380,700,LA121990-0122,gasoline tax U.S. What are the arguments for a...,"\n\n\nDecember 19, 1990, Wednesday, Home Editi..."

In [80]:
import re
import pandas as pd

from string import punctuation
def preprocess_text(text):
    text = text.lower()  # Lowercase text
    text = re.sub(f"[{re.escape(punctuation)}]", "", text)  # Remove punctuation
    text = " ".join(text.split())  # Remove extra spaces, tabs, and new lines
    return text

evaluation[2] = evaluation[2].map(preprocess_text)
evaluation[3] = evaluation[3].map(preprocess_text)
evaluation.to_csv('robustness04.eval7.tsv', header=None, index=None, sep='\t', mode='a')